#top-box {
  height: 400px;
  overflow: hidden;
  /*
    背景いっぱいに画像を設定
    http://coliss.com/articles/build-websites/operation/css/css-responsive-full-background-image-by-sixrevisions.html
    */
  background-image: url("/img/top.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.top-box-leave {
  opacity: 1;
  height: 400px !important;
  transition: all 0.3s ease-in 0s;
}
.top-box-leave.top-box-leave-active {
  height: 0px !important;
  opacity: .0;
}
#catch-copy {
  color: #ffffc8;
  /* 参考・http://kumacrow.blog111.fc2.com/blog-entry-278.html */
  text-shadow: 0 0 2px #9b3200, 0 0 2px #9b3200, 0 0 2px #9b3200, 0 0 2px #9b3200;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
}
#login-box {
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  border-radius: 4px;
  background: rgba(200, 150, 50, 0.8);
}
#login-box input {
  text-align: center;
}
#login-box div.checkbox {
  margin-top: 20px;
  margin-bottom: 20px;
}
#contents {
  padding-bottom: 50px;
}
#guest-menu {
  text-align: center;
  padding-bottom: 50px;
}
#guest-menu div.selected {
  color: #c8c800;
}
#guest-menu .word-search {
  background: #c8ffc8;
}
#guest-menu .genre {
  background: #ffc8c8;
}
#guest-menu .neighbor {
  background: #c8c8ff;
}
#guest-menu .contents {
  margin-top: -50px;
}
#guest-menu .contents > div {
  color: #c8ffc8;
  height: 300px;
}
.menu-item {
  display: inline-block;
  height: 80px;
  width: 80px;
  padding-top: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin: 6px;
  /*    box-shadow: 2px 2px 3px rgba(0,0,0,.5); */
  color: #828282;
  white-space: nowrap;
}
.menu-item > i {
  display: block;
  font-size: 150%;
  margin-bottom: 5px;
}
.menu-item:hover {
  color: #c8c800 !important;
}
