.GlobalMenu .menu-button {
  font-size: 150%;
  position: fixed;
  top: 2px;
  right: -2px;
  padding-right: 6px;
}
.GlobalMenu .menu-list {
  font-size: 150%;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 50px;
  right: 0px;
}
.GlobalMenu .menu-item {
  margin: 1px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  list-style: none;
  color: #ffffff;
  background: #000000;
}
.GlobalMenu .menu-text {
  padding-left: 6px;
}
.GlobalMenu .menu-list-enter {
  right: -100px;
  transition: right 0.1s ease-in;
}
.GlobalMenu .menu-list-enter-active {
  right: 0;
}
.GlobalMenu .menu-list-leave {
  right: 0px;
  transition: right 0.1s ease-in;
}
.GlobalMenu .menu-list-leave-active {
  right: -100px;
}
