body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-self, Verdana, Arial, Helvetica;
}
#header {
  width: 100%;
  text-align: center;
  color: #ffffc8;
  background: rgba(200, 150, 50, 0.9);
  /* 参考・http://kumacrow.blog111.fc2.com/blog-entry-278.html */
  text-shadow: 0 0 2px #c89632, 0 0 2px #c89632, 0 0 2px #c89632, 0 0 2px #c89632;
}
img.logo {
  display: block;
  max-width: 100%;
  max-height: 64px;
  margin: 0 auto;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -1px 0 rgba(150, 150, 150, 0.9);
  border-top: solid 1px rgba(150, 150, 150, 0.5);
  color: #969696;
  font-size: small;
  text-align: center;
}
#footer > a {
  color: inherit;
}
